.button {
  padding: 10px;
  background-color: #f63854;
  color: white;
  border: 3px solid #f63854;
  font-size: 0.7rem;
  letter-spacing: 1px;
  width: 100%;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.button__container {
  width: 100%;
}

.button:hover {
  background-color: white;
  color: #f63854;
}
