.main__div {
}

.tag__div {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  max-height: 300px;
  left: 0;
  right: 0;
  margin: auto;
  position: relative;
  min-height: 300px;
  overflow: hidden;
  cursor: pointer;
}

.tag__image {
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.backdrop__div {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  color: white;
  font-weight: 800;
  text-align: center;
  letter-spacing: 2px;
  padding: 10px;
}

.tag__div:hover .tag__image {
  transform: scale(1.3);
}
