.main__div {
  min-height: 100%;
  display: flex;
}

.list__div {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 10px;
  flex: 1;
}

.empty__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-weight: 600;
  height: 100%;
  width: 100%;
  font-size: 1.1rem;
  letter-spacing: 3px;
}

.empty__text {
  margin-top: 10px;
}

.list__item {
  padding: 10px;
  flex: 1;
  min-width: 300px;
  max-width: 300px;
}

.tags__div {
  min-width: 350px;
  padding: 0px 10px;
  border-right: 2px solid #f63854;
}

@media (max-width: 1000px) {
  .tags__div {
    /* display: none; */
    border-right: none;
    min-width: 100%;
  }
  .list__item {
    min-width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }
  .list__div {
    box-sizing: border-box;
    margin: 0px;
    flex-direction: column;
  }
  .main__div {
    flex-direction: column;
  }
}
