.main__div {
  min-height: 100%;
  padding: 40px;
  display: flex;
}

.list__div {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  align-items: flex-start;
}

.list__item {
  padding: 10px;
}

.tags__div {
  min-width: 350px;
  padding: 0px 10px;
  border-right: 2px solid rgb(231, 8, 135);
}
