.list__title {
  padding: 5px;
  border-bottom: 2px solid rgb(231, 8, 135);
  margin-bottom: 10px;
  display: block;
  font-size: 0.9rem;
  letter-spacing: 1px;
  text-align: center;
}

.radio {
  border: none;
  display: flex;
  width: 100%; /* 
  margin: 5px 0px; */
  padding: 0px;
  background: transparent;
  border: 1px solid transparent; /* 
  border-bottom: 1px solid rgb(231, 8, 135); */
  transition: border 0.3s ease-in-out;
  font-size: 0.8rem;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.selected {
  border-right: 40px solid rgb(231, 8, 135);
}

.radio__div {
  display: flex;
  flex-direction: column;
  /* margin: -5px 0px; */
}

.tag__name {
  flex: 1;
  text-align: right;
  padding: 5px;
}

.icon__div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}

.list__div {
  padding: 15px;
}

.radio:focus {
  outline: none;
}

.radio:disabled {
  border-bottom-color: gray;
}

.selected:disabled {
  border-right-color: gray;
}
