.list__title {
  padding: 15px;
  border-bottom: 2px solid rgb(231, 8, 135);
  margin-bottom: 10px;
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 5px;
}

.radio {
  border: none;
  display: flex;
  width: 100%;
  margin: 5px 0px;
  padding: 0px;
  background: transparent;
  border: 1px solid rgb(231, 8, 135);
  transition: border 0.3s ease-in-out;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 5px;
  cursor: pointer;
}

.selected {
  border-right: 40px solid rgb(231, 8, 135);
}

.radio__div {
  display: flex;
  flex-direction: column;
  margin: -5px 0px;
}

.tag__name {
  flex: 1;
  padding: 10px;
  text-align: right;
}

.icon__div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}

.list__div {
  margin-top: 10px;
}

.radio:focus {
  outline: none;
}

.radio:disabled {
  border-color: gray;
}
