.main__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px;
  min-height: 100%;
  min-width: 100%;
  flex: 1;
}

.loading__text {
  margin-top: 10px;
}
