.main__div {
  min-height: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.content__div {
  display: flex;
  width: 1000px;
}

.list__div {
  margin: -10px 0px;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0px 10px;
}

.items__div {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.empty__div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty__text {
  margin-top: 10px;
}

.separator__div {
  border-right: 1px solid #d2d2d2;
}

.main__empty {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1000px) {
  .items__div {
    display: none;
  }
  .separator__div {
    display: none;
  }
  .list__container {
    flex: 1;
    padding: 0px;
  }
}
