.item__div {
  border: 1px solid transparent;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

.purchase__content {
  display: flex;
  padding: 20px;
  align-items: center;
  border: 2px solid #eeeeee;
  margin: 5px 0px;
}

.selected {
  border: 2px solid #f63854;
}

.header__content {
  flex: 1;
}

.header__title {
  display: block;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: gray;
}

.header__value {
  color: rgb(78, 78, 78);
  display: block;
  letter-spacing: 2px;
  font-weight: 700;
}

.order__date {
  color: gray;
  font-size: 0.7rem;
  display: block;
  font-weight: 600;
}

.dropdown__button {
  display: none;
  color: #f63854;
}

.dropdown__content {
  display: none;
  box-sizing: border-box;
}

.view__button {
  display: flex;
  color: #f63854;
  transition: transform 0.25s ease-in-out;
}

@media (max-width: 1000px) {
  .dropdown__content {
    display: block;
    margin: 5px 0px;
  }
  .dropdown__button {
    display: flex;
  }
  .view__button {
    display: none;
  }
}

.rotate {
  transform: rotate(-90deg);
}
