.picker__div {
  display: flex;
  align-items: flex-start;
}

.inner__div {
  display: flex;
  border: 1px solid #d2d2d2;
}

.picker__label {
  padding: 5px 10px;
}

.picker__button {
  background: transparent;
  min-width: 40px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f63854;
}

.picker__button:disabled {
  color: gray;
}
