.main__div {
  height: 100%;
}

.product__div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__div {
  width: 900px;
  display: flex;
  border: 1px solid #d2d2d2;
  padding: 5px;
}

.product__content {
  flex: 1;
}

.carousel__div {
  width: 350px;
  min-height: 0;
  min-width: 0;
  border: 1px solid #d2d2d2;
  padding: 5px;
}

.image {
  width: 100%;
}

.image__div {
  flex: 1;
  vertical-align: bottom;
  padding: 3px;
}

.select__div {
  padding: 3px;
  margin-top: 5px;
  border: 1px solid #d2d2d2;
}
