.main__div {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form__group {
  padding: 5px;
}

.form__div {
  width: 500px;
}

.form__error {
  color: red;
  display: block;
}

.form__header {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  display: block;
  margin-bottom: 20px;
}

.tag__form {
  padding: 60px 0px;
  display: flex;
  flex-direction: column;
}

.dropzone {
  background-color: #fafafa;
  display: flex;
  border: 2px dashed gray;
  border-radius: 2px;
  color: #bdbdbd;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-weight: 600;
  height: 100px;
  margin-top: 3px;
}

.file__div {
  margin-top: 2px;
  width: 100%;
  padding: 10px;
  border: 1px solid #d2d2d2;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
}

.remove__btn {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: none;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
  border: none;
}

.main__error {
  color: red;
  font-size: 1rem;
  margin-top: 10px;
  display: block;
  text-align: center;
}

.success__div {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.success__msg {
  margin-top: 10px;
}

.file__div:hover .remove__btn {
  display: block;
}

.button__container {
  padding: 5px;
}
