.carousel__div {
  width: 350px;
  min-height: 0;
  min-width: 0;
  padding: 5px;
}

.image {
  width: 100%;
}

.image__div {
  flex: 1;
  vertical-align: bottom;
  padding: 3px;
}

.select__div {
  padding: 3px;
  border-top: 1px solid #d2d2d2;
}

.large__div {
  padding: 6px;
}
