.main__div {
  height: 100%;
  overflow: auto;
}

.navigation__div {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.btn__div {
  min-width: 300px;
  display: flex;
}

.separator {
  width: 10px;
}
.search__input {
  flex: 1;
  border: none;
  border-bottom: 1px solid black;
  font-size: 0.8rem;
  margin-right: 20px;
}
