.header__div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}

.search__header {
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.search__box {
  width: 100%;
  max-width: 500px;
  position: relative;
  display: flex;
  border: 3px solid #f63854;
}

.search__input {
  flex: 1;
  padding: 20px;
  border: none;
  font-size: 1rem;
  box-sizing: border-box;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
}

.search__visible {
  width: calc(100% + 6px);
  background-color: white;
  display: block;
  position: absolute;
  top: 80px;
  border: 3px solid #f63854;
  z-index: 10;
  left: -3px;
  transform: scaleY(0%);
  -webkit-transform: scaleY(0);
  transition: transform 0.2s ease-in-out, height 0.2s ease-in-out;
  transform-origin: top;
}

.other__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.empty__div {
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
  justify-content: center;
  align-items: center;
}

.fashion__text {
  color: #f63854;
}

.item__header {
  font-size: 1rem;
  font-weight: 500;
  text-overflow: ellipsis;
}

.price__div {
  padding: 10px;
  padding-left: 15px;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: #f63854;
}

.thumbnail {
  max-width: 60px;
}

.rating__container {
  margin-top: -5px;
}

.search__box:focus-within .search__input {
  outline: none;
}

.search__box:focus-within .search__visible {
  transform: scaleY(100%);
  -webkit-transform: scaleY(1);
}

.search__visible:hover {
  transform: scaleY(100%);
  -webkit-transform: scaleY(1);
}
