.header__div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  padding-top: 80px;
}

.search__header {
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
}

.search__box {
  width: 100%;
  max-width: 500px;
  position: relative;
  display: flex;
  border: 3px solid #009e93;
}

.search__input {
  flex: 1;
  padding: 20px;
  border: none;
  font-size: 1rem;
  box-sizing: border-box;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
}

.search__hidden {
  display: none;
}

.search__visible {
  width: calc(100% + 6px);
  background-color: white;
  display: block;
  position: absolute;
  top: 70px;
  border: 3px solid #009e93;
  z-index: 10;
  left: -3px;
}

.other__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.empty__div {
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
  justify-content: center;
  align-items: center;
}

.not_found__text {
  margin-top: 10px;
  font-size: 0.9rem;
  font-weight: 500;
}

.fashion__text {
  color: rgb(231, 8, 135);
}

.item__header {
  font-size: 1rem;
  font-weight: 500;
  text-overflow: ellipsis;
}

.price__div {
  padding: 10px;
  padding-left: 15px;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: rgb(231, 8, 135);
}

.thumbnail {
  max-width: 60px;
}

.rating__container {
  margin-top: -5px;
}

.search__box:focus-within .search__input {
  outline: none;
}
