.side-drawer {
  height: 100%;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 500px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.2s ease-in-out;
}

.side-drawer.open {
  transform: translateX(0);
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.5);
}

.side-drawer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.side-drawer li {
  margin: 0.5rem 0;
}

.side-drawer span {
  color: red;
  text-decoration: none;
  font-size: 1.1rem;
  cursor: pointer;
}

.side-drawer span:hover,
.side-drawer span:active {
  color: blue;
}

@media (min-width: 769px) {
  .side-drawer {
    display: none;
  }
}
