.details__container {
  padding: 0px 10px;
  padding-bottom: 5px;
}

.nested__div {
  display: flex;
  margin-top: 5px;
}

.form__div {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.button__container {
  width: 100%;
  margin-top: 10px;
}

.radio__div {
  padding: 5px;
  margin: 0px -5px;
}

.radio__div div {
  flex: 1;
  display: flex;
}

.radio {
  flex: 1;
  padding: 10px;
  background-color: white;
  color: black;
  border: 1px solid black;
  font-size: 0.8rem;
  font-weight: 600;
  flex: 1;
  margin-top: 10px;
}

.selected {
  color: white;
  background-color: black;
}

.payment__nested {
  display: flex;
}

.separator__div {
  width: 10px;
}

.form__error {
  color: red;
  text-align: center;
  margin: 3px 5px;
}
