.main__div {
  width: 100%;
  border-top: 1px solid #d2d2d2;
  padding: 10px;
}

.list__div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.list__item {
  width: 100%;
  border-bottom: 1px solid #d2d2d2;
  padding: 15px;
}

.reply__item {
  width: 100%;
  border-left: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  padding: 10px 15px;
}

.reply__item__last {
  width: 100%;
  border-left: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  padding: 10px;
}

.empty__div {
  min-height: 100px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty__div > span {
  display: block;
  text-align: center;
}

.reply__title {
  padding: 10px;
  display: block;
  border-bottom: 1px solid #d2d2d2;
  font-size: 0.8rem;
  letter-spacing: 0.8px;
}

.replies__list {
  margin-top: 10px;
  margin-left: 20px;
}

.inquiry__list__item {
  display: flex;
}

.profile__header {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.user__name {
  flex: 1;
  font-size: 0.8rem;
  font-weight: 400;
  color: gray;
}

.posted__date {
  font-size: 0.6rem;
  color: gray;
}

.header__container {
  display: flex;
}

.image__container > span {
  color: white;
  font-weight: 500;
  font-size: 1.3rem;
}

.image__container {
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  background-color: #d2d2d2;
  border-radius: 30px;
}

.details__container {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
}

.title {
  font-size: 0.9rem;
}

.description {
  font-size: 0.7rem;
}
