.dropdown__div {
  background-color: white;
  border: 1px solid #d2d2d2;
  flex: 1;
  display: flex;
}

.cart__item {
  padding: 10px;
  /* margin: 5px 0; */
  display: flex;
  border-bottom: 1px solid #d2d2d2;
}

.items__div {
  flex: 1;
  padding: 20px;
  overflow: auto;
}

.cart__thumbnail {
  height: 100px;
}

.cart__details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin-left: 5px;
}

.view__button {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border: none;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: rgb(231, 8, 135);
  color: white;
}

.cart__price {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 10px;
  color: black;
}

.product__name {
  font-size: 0.8rem;
  font-weight: 500;
  color: black;
}

.product__size {
  font-size: 0.7rem;
  font-weight: 500;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 2px 10px;
  display: inline-block;
  min-width: 50px;
  text-align: center;
}

.product__quantity {
  font-size: 0.7rem;
  font-weight: 500;
  border-radius: 5px;
  padding: 2px 10px;
  border: 1px solid gray;
  margin-left: 3px;
  display: inline-block;
  min-width: 50px;
  text-align: center;
}

.details__horizontal {
  margin-top: 3px;
}

.remove__button {
  border: none;
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.other__div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.retry__button {
  margin-top: 20px;
  padding: 5px 10px;
  border: none;
  color: white;
  background-color: rgb(231, 8, 135);
  cursor: pointer;
}

.empty__text {
  margin-top: 20px;
  font-family: inherit;
  font-weight: 500;
}

.price__div {
  padding: 10px 5px;
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  font-weight: 500;
  color: black;
}

.padding__div {
  height: 20px;
}

.cart__header {
  font-size: 0.8rem;
  font-weight: 600;
  color: black;
  border-bottom: 1px solid #d2d2d2;
  display: block;
  padding: 10px 10px;
  margin-top: 5px;
}

.close__button {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.close__text {
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
}

.control__container {
  display: flex;
  justify-content: flex-end;
}
