.main__div {
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.wishlist__div {
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.product__div {
  min-width: 250px;
  max-width: 250px;
  margin: 10px;
}

.list__div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.empty__div {
  flex: 1;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.empty__div > span {
  margin-top: 10px;
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: 300;
}
