.toolbar {
  position: fixed;
  height: 80px;
  width: 100%;
  /* border-bottom: solid 1px #e8e8e8; */
  top: 0;
  z-index: 10;
  /* box-shadow: 0 0 20px #f3f1f1; */
  background-color: white;
}

.toolbar__logo {
  display: flex;
  align-items: center;
  font-family: inherit;
  position: absolute;
  height: 80px;
  top: 0;
  left: 0;
  right: 0;
  justify-content: center;
  z-index: 5;
}

.toolbar__navigation {
  display: flex;
  height: 100%;
}

.toolbar__logo span {
  text-decoration: none;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
}

.spacer {
  flex: 1;
}

.toolbar__navigation-items {
  display: flex;
  z-index: 20;
}

.toolbar__navigation-link {
  text-decoration: none;
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  border-bottom: 3px solid transparent;
}

.toolbar__navigation-items li {
  display: flex;
}

.toolbar__navigation-items ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.toolbar__navigation-link:hover,
.toolbar__navigation-link:active {
  border-bottom: 3px solid rgb(231, 8, 135);
}

.active {
  border-bottom: 3px solid rgb(231, 8, 135);
}

.toolbar__toggle-button {
  z-index: 15;
  border: 3px solid white;
}

.toolbar__cart-button {
  z-index: 15;
  border: 3px solid white;
}

.toolbar__cart-button:hover {
  border-bottom: 3px solid rgb(231, 8, 135);
}

.toolbar__logo-light {
  font-family: inherit;
  font-weight: 1000;
}

.toolbar__logo-dark {
  font-family: inherit;
  font-weight: 1000;
  color: rgb(231, 8, 135);
}

.cart__parent {
  position: relative;
}

.cart__container {
  position: absolute;
  top: calc(100% + 3px);
  right: 10px;
  display: none;
}

.arrow__container {
  display: flex;
  justify-content: flex-end;
  margin-top: -10px;
}

.arrow__div {
  border: 10px solid transparent;
  border-bottom: 10px solid #d2d2d2;
  height: 0;
  width: 0;
  margin-right: 15px;
}

.cart__parent:hover .cart__container {
  display: block;
}

@media (max-width: 768px) {
  .toolbar__navigation-items {
    display: none;
  }
}

@media (min-width: 769px) {
  .toolbar__toggle-button {
    display: none;
  }
}

.toolbar__dropdown-div {
  position: relative;
}

.toolbar__dropdown {
  position: absolute;
  right: -3px;
  top: 77px;
  transform: scaleY(0%);
  -webkit-transform: scaleY(0);
  transition: transform 0.1s ease-in;
  transform-origin: top;
  background: white;
  border: 1px solid #d2d2d2;
}

.toolbar__dropdown-div:hover .toolbar__dropdown {
  transform: scaleY(100%);
  -webkit-transform: scaleY(1);
}

.toolbar__dropdown-option {
  border: none;
  padding: 20px 0px;
  background: white;
  min-width: 250px;
  border: 3px solid white;
  font-size: 0.8rem;
  font-weight: 500;
  color: gray;
}

.toolbar__dropdown-option:hover {
  border-bottom: 3px solid rgb(231, 8, 135);
}
