.main__div {
  height: 100%;
  display: flex;
  padding: 1rem;
  box-sizing: border-box;
}

.signup__form {
  display: flex;
  flex-direction: column;
  width: 450px;
  padding: 50px 20px;
  height: 100%;
  justify-content: center;
}

.image {
  flex: 1;
  background-image: url('../../static/img/signup-background.jpg');
  background-size: cover;
  background-position: left;
}

@media (max-width: 768px) {
  .main__div {
    padding: 0.5rem;
  }
}

.form__input {
  border: 1px solid lightgray;
  padding: 12px 7px;
  font-size: 1rem;
  margin: 5px 0px;
  font-family: inherit;
  font-weight: 100;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
}

.form__name_parent {
  display: flex;
  flex-direction: row;
}

.form__name_child {
  box-sizing: border-box;
  width: 49%;
}

.form__name_input {
  border: 1px solid lightgray;
  padding: 12px 7px;
  font-size: 1rem;
  margin: 5px 0px;
  font-family: inherit;
  font-weight: 100;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
}

.form__name_space {
  width: 2%;
}

.form__input_nested {
  border: none;
  padding: 12px 7px;
  font-size: 1rem;
  font-family: inherit;
  font-weight: 100;
  flex: 1;
  border-radius: 5px;
}

.form__input_parent {
  display: flex;
  border: 1px solid lightgray;
  margin: 5px 0px;
  border-radius: 5px;
  box-sizing: border-box;
}

.form__button_hide {
  border: none;
  width: 40px;
  background: none;
}

.form__input:focus {
  border: 1px solid royalblue;
}

.form__error {
  font-size: 0.8rem;
  color: red;
}

.form__submit {
  border: none;
  background-color: rgb(231, 8, 135);
  padding: 12px 3px;
  margin: 5px 0px;
  font-size: 1rem;
  color: white;
  font-family: inherit;
  font-weight: 100;
  margin-bottom: 10px;
  border-radius: 5px;
}

.form__header {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 100;
  color: rgb(231, 8, 135);
}

.form__error_main {
  margin-bottom: 10px;
  text-align: center;
  color: red;
}
