.main__div {
  width: 100%;
  border-top: 1px solid #d2d2d2;
  padding: 10px;
}

.review__div {
  margin-bottom: 10px;
}

.overall__div {
  border-bottom: 1px solid #d2d2d2;
  display: flex;
  padding-bottom: 10px;
  justify-content: center;
}

.summary__div {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress__div {
  border-left: 1px solid #d2d2d2;
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.progress__container {
  flex: 1;
  margin-left: 10px;
}

.progress__group {
  display: flex;
}

.list__div {
  flex: 1;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.empty__div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rating__actual {
  font-size: 2.5rem;
  color: #f63854;
}

.rating__big {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
}

.rating__small {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review__count {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #d2d2d2;
  color: #f63854;
}

.rating__total {
  margin-left: 2px;
  color: #f63854;
}

.progress__text {
  margin-top: 2px;
  font-weight: 600;
  color: gray;
  font-size: 0.8rem;
  padding: 0px 5px;
}

@media (max-width: 1200px) {
  .main__div {
    width: 100%;
  }
  .overall__div {
    flex-direction: column;
    padding: 20px;
    padding-bottom: 30px;
  }
  .progress__div {
    border-left: none;
  }
  .summary__div {
    padding: 0px;
    padding-bottom: 20px;
  }
  .progress__div {
    padding: 0px;
  }
}
