.toggle-button {
  display: flex;
  height: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
  align-items: center;
  padding: 10px 25px;
  box-sizing: border-box;
}

.toggle-button:focus {
  outline: none;
}
