.toggle-button {
  display: flex;
  height: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  position: relative;
}

.toggle-button:focus {
  outline: none;
}

.toggle-overlay {
  padding-left: 10px;
  margin-left: 10px;
  border-left: 1px solid #d2d2d2;
  color: gray;
  font-weight: 500;
  letter-spacing: 1px;
}
